@using ResturantTaskSDk.Models
@model User

@{
    Layout = "~/Views/Shared/_Layout.cshtml";
}


@using (Html.BeginForm("Login", "User", FormMethod.Post))
{
    @*@Html.AntiForgeryToken()*@

    <div class="form-group">
       Name:
        @Html.EditorFor(model => model.name, new { htmlAttributes = new { @class = "form-control" } })
    </div>

    <div class="form-group">
        Password:
        @Html.PasswordFor(model => model.Password, new { @class = "form-control" })
    </div>

    <button type="submit" class="btn">Login</button>
}
